@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css");

::selection {
    color: #E5D9B6;
    background: #5F8D4E;
  }

div.promotion{
    min-height: 30rem;
}

.header{
    max-height: 30%;
}

.link-grey, p.text, span.text{
    color: #7F8487;
}

.link-grey:hover{
    color: black;
}

.btn-outline-success{
    --bs-btn-color: black;
    --bs-btn-border-color: black;
    --bs-btn-hover-bg: #002b04;
}

.masthead {
    height: 30vh;
  }

.masthead.camping{
    background-image: url('../../src/images/headers/camping.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 

.masthead.swimming{
    background-image: url('../../src/images/headers/swimming.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 

.masthead.rvrental{
    background-image: url('../../src/images/headers/rv.jpg');
    background-size: cover;
    background-position: right 50% bottom 20%;
    background-repeat: no-repeat;
} 

.text-between-line:before, .text-between-line:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #7F8487;
    margin: auto;
  }

.bg-dirt, .text-dirt{
    background-color: #F0EBCE;
}

.bg-green{
    background-color: #002b04;
}

.bg-grey{
    background-color: #ECF4F3;;
}

.bullets{
    height: 2rem;
    width: 2rem;
}

.carousel-item{
    max-height: 20%;
}

.card-img-wrapper{
    overflow: hidden;
}

.card-img-top{
    transform: scale(1.1);
    transition: 1s ease;
}

.card-img-top:hover{
    transform: scale(1.2);
    transition: 1s ease;
}

#carousel-cover{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
}

.roadmaps{
    font-size: 4rem;
    opacity: 0;
    transition: 1000ms ease-in;
}

.roadmaps.fade-in{
    opacity: 0.25;
}

.mt-10{
    margin-top: 5rem;
}

.mt-info{
    margin-top: 10em;
}

.mt-info-heading{
    margin-top: 6rem;
}

.link-light:hover{
    opacity: 0.6;
}

#svgs:hover{
    transform: scale(1.1);
}

#svgs{
    transition: transform .5s;
}

.map{
    border: solid 0.5rem #AA8B56;
}

@media screen and (min-width: 768px) {
    .display-1{
        font-size: 2.5rem;
    }

    .display-6{
        font-size: 1.5rem;
    }

    .slideshow{
        transform: translateY(-20%);
    }    
}

@media screen and (min-width: 992px) {
    .carousel-item{
        max-height: 50%;
    }    

    .display-1{
        font-size: 3rem;
    }

    .display-6{
        font-size: 2rem;
    }

    .mt-10{
        margin-top: 8rem;
    }

    .mt-info{
        margin-top: 12rem;
    }

    .lg-border-end{
        border-right:1px solid #dee2e6!important;
    }
}

@media screen and (min-width: 1200px) {
    #slideshow-item{
        transform: translateY(-50%);
    }

    .mt-10{
        margin-top: 10rem;
    }

    .display-6{
        font-size: 3rem;
    }
}