p.text{
    color: #7F8487;
}

.carousel-item{
    max-height: 20%;
}

.card-img-wrapper{
    overflow: hidden;
}

.card-img-top{
    transform: scale(1.1);
    transition: 1s ease;
}

.card-img-top:hover{
    transform: scale(1.2);
    transition: 1s ease;
}

#carousel-cover{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
}

.roadmaps{
    font-size: 4rem;
    opacity: 0;
    transition: 1000ms ease-in;
}

.roadmaps.fade-in{
    opacity: 0.25;
}

.mt-10{
    margin-top: 10rem;
}

.mt-info{
    margin-top: 6em;
}

.mt-info-heading{
    margin-top: 6rem;
}

.link-light:hover{
    opacity: 0.6;
}

#svgs:hover{
    transform: scale(1.1);
}

#svgs{
    transition: transform .5s;
}

@media screen and (min-width: 768px) {
    .display-1{
        font-size: 2.5rem;
    }

    .display-6{
        font-size: 1.5rem;
    }

    .slideshow{
        transform: translateY(-20%);
    }    
}

@media screen and (min-width: 992px) {
    .carousel-item{
        max-height: 50%;
    }    

    .display-1{
        font-size: 3rem;
    }

    .display-6{
        font-size: 2rem;
    }

    .mt-10{
        margin-top: 8rem;
    }

    .mt-info{
        margin-top: 12rem;
    }
}

@media screen and (min-width: 1200px) {
    #slideshow-item{
        transform: translateY(-50%);
    }

    .mt-10{
        margin-top: 10rem;
    }

    .display-6{
        font-size: 3rem;
    }
}
