.carousel-item{
    max-height: 20%;
}

#carousel-cover{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
}

@media screen and (min-width: 768px) {
    .display-1{
        font-size: 2.5rem;
    }

    .display-6{
        font-size: 1.5rem;
    }

    .slideshow{
        transform: translateY(-20%);
    }
}

@media screen and (min-width: 992px) {
    .carousel-item{
        max-height: 50%;
    }    

    .display-1{
        font-size: 3rem;
    }

    .display-6{
        font-size: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    #slideshow-item{
        transform: translateY(-50%);
    }
}
